<p>
  <a href="{{site.swc_site}}">Software Carpentry</a>
  soll Forschenden durch die Vermittlung grundlegender Computerkenntnisse dabei helfen, 
  ihre Arbeit in kürzerer Zeit und mit weniger Hindernissen zu erledigen. 
  In diesem Workshop werden den Teilnehmenden von den beiden Instruktoren Stephan Druskat und Michael Meinel
  neben grundlegenden Kenntnissen der Versionskontrolle mit 
  Git Inhalte der Softwarezitation über theoretische und praktische Zugänge vermittelt. Die Teilnehmenden werden dabei ermutigt, sich
  gegenseitig zu helfen und das Gelernte auf ihre eigenen Forschungsprobleme 
  anzuwenden.
</p>
<p align="center">
  <em>
    Mehr Informationen darüber, was in Software Carpentries unterrichtet wird und warum, sind folgenden Paper zu entnehmen
    "<a href="http://journals.plos.org/plosbiology/article?id=10.1371/journal.pbio.1001745">Best Practices for Scientific Computing</a>".
  </em>
</p>
<p>
  Organisiert wird der Workshop von Studierenden der "Digitalen Methodik in den Geistes- und Kulturwisenschaften" der Universität Mainz in Kooperation
  mit dem <a href="http://mainzed.org/">Mainzer Zentrum für Digitalität in den Geistes- und Kulturwissenschaften</a> 
  und der <a href="https://www.adwmainz.de">Akademie der Wissenschaften und der Literatur | Mainz</a>.
</p>
