<p>
  Mit dem digitalen Wandel nehmen Publikationen 
  im World Wide Web auch innerhalb der klassischen geisteswissenschaftlichen Forschung einen immer größer werdenden Stellenwert 
  ein. Im Zusammenhang damit stehen Fragen der persistenten Bereitstellung von Ressourcen und der eindeutigen Referenzier- 
  und Zitierbarkeit derselben in wissenschaftlichen Publikationen.
</p>
<p>
  <a href="{{site.swc_site}}">Software Carpentry</a>
  soll Forschenden durch die Vermittlung grundlegender Computerkenntnisse dabei helfen, 
  ihre Arbeit in kürzerer Zeit und mit weniger Hindernissen zu erledigen.
  Im Workshop am 27. März in Mainz werden den Teilnehmenden von Stephan Druskat und Michael Meinel
  neben grundlegenden Kenntnissen der Versionskontrolle mit 
  Git Inhalte der Softwarezitation über theoretische und praktische Zugänge vermittelt. Die Teilnehmenden werden dabei ermutigt, sich
  gegenseitig zu helfen und das Gelernte auf ihre eigenen Forschungsprobleme 
  anzuwenden.
</p>

<p align="center">
  <em>
    Mehr Informationen darüber, was in Software Carpentries unterrichtet wird und warum, sind folgendem Paper zu entnehmen
    "<a href="http://journals.plos.org/plosbiology/article?id=10.1371/journal.pbio.1001745">Best Practices for Scientific Computing</a>".
  </em>
</p>

<p>
  Stephan Druskat ist Doktorand in Computer Science am <a href="https://www.dlr.de/sc/en/">Institut für Softwaretechnik des Deutschen Zentrums für Luft- und Raumfahrt (DLR)</a> 
  und am <a href="https://www.informatik.hu-berlin.de/en/">Institut für Informatik der Humboldt-Universität zu Berlin</a> sowie Fellow des <a href="https://software.ac.uk/">Software Sustainability Institute (SSI)</a>. In seiner
  Forschung fokussiert er Themen der Softwarezitation, Softwarepublikation, Softwaremetadaten und der Nachhaltigkeit von Software. Seit
  2019 engagiert er sich als Instructor bei <a href="https://carpentries.org/">The Carpentries</a>. Michael Meinel ist seit 2007 Research Software Engineer am <a href="https://www.dlr.de/sc/en/">Institut für Softwaretechnik 
  des DLR</a> im Bereich Intelligente und verteilte Systeme.
</p>

<p>
  Organisiert wird der Workshop von Studierenden der "Digitalen Methodik in den Geistes- und Kulturwissenschaften" der Universität Mainz in Kooperation
  mit dem <a href="http://mainzed.org/">Mainzer Zentrum für Digitalität in den Geistes- und Kulturwissenschaften</a> 
  und der <a href="https://www.adwmainz.de">Akademie der Wissenschaften und der Literatur | Mainz</a>.
</p>
