<div class="row">
  <div class="col-md-6">
    <h3>27. März 2023</h3>
    <table class="table table-striped">
      <tr> <td>Vorher</td> <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank" rel="noopener noreferrer">Pre-workshop Survey</a> </td> </tr>
      <tr> <td>9:30 Uhr</td>  <td>Willkommen / Einführung / Setup</td> </tr>
      <tr> <td>10:00 Uhr</td>  <td>Grundlagen in der Arbeit mit Git</td> </tr>
      <tr> <td>11:30 Uhr</td>  <td>Grundlagen der Zusammenarbeit mit GitLab</td> </tr>
      <tr> <td>12:45 Uhr</td>  <td>Wrap-up / Diskussion</td> </tr>
      <tr> <td>13:00 Uhr</td>  <td>Mittagspause</td> </tr>
      <tr> <td>14:00 Uhr</td>  <td>Demo: Zusammenarbeit über Issues & Merge Requests</td> </tr>
      <tr> <td>15:00 Uhr</td>  <td>Einführung in Softwarezitation und -publikation</td> </tr>
      <tr> <td>17:15 Uhr</td>  <td>Ende / Ausklang mit Drinks & Snacks</td> </tr>
      <tr> <td>Danach</td>  <td><a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank" rel="noopener noreferrer">Post-workshop Survey</a></td> </tr>
    </table>
  </div>
</div>
