<div id="editor">
  <h3>Texteditor</h3>

  <p>
    Beim Schreiben von Code ist es praktisch, einen Texteditor zu nutzen, der
    für das Schreiben von Code optimiert ist und Funktionen wie die automatische
    Farbkodierung von Schlüsselwörtern bietet. Der Standard-Texteditor unter 
    macOS und Linux ist in der Regel Vim, der jedoch nicht sehr benutzerfreundlich
    ist. Bei Problemen kann durch das 
    Drücken der <kbd>Esc</kbd> Taste, gefolgt von <kbd>:</kbd>+<kbd>Q</kbd>+<kbd>!</kbd>
    (Doppelpunkt, kleines 'q', Ausrufezeichen) und dem anschließenden Drücken der
    Eingabetaste zur Shell zurückgekehrt werden.
  </p>

  <div>
    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="active"><a data-os="windows" href="#editor-windows" aria-controls="Windows" role="tab" data-toggle="tab">Windows</a></li>
      <li role="presentation"><a data-os="macos" href="#editor-macos" aria-controls="MacOS" role="tab" data-toggle="tab">MacOS</a></li>
      <li role="presentation"><a data-os="linux" href="#editor-linux" aria-controls="Linux" role="tab" data-toggle="tab">Linux</a></li>
    </ul>

    <div class="tab-content">
      <article role="tabpanel" class="tab-pane active" id="editor-windows">
        <p>
          nano is a basic editor and the default that instructors use in the workshop.
          It is installed along with Git.
        </p>
      </article>
      <article role="tabpanel" class="tab-pane" id="editor-macos">
        <p>
          nano is a basic editor and the default that instructors use in the workshop.
          See the Git installation <a href="#editor-macos-video-tutorial">video tutorial</a>
          for an example on how to open nano.
          It should be pre-installed.
        </p>
        <h4 id="editor-macos-video-tutorial">Video Tutorial</h4>
        <div class="yt-wrapper2">
        <div class="yt-wrapper">
        <iframe type="text/html" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" src="https://www.youtube-nocookie.com/embed/9LQhwETCdwY?modestbranding=1&playsinline=1&iv_load_policy=3&rel=0" class="yt-frame" allowfullscreen></iframe>
        </div>
        </div>
      </article>
      <article role="tabpanel" class="tab-pane" id="editor-linux">
        <p>
          nano is a basic editor and the default that instructors use in the workshop.
          It should be pre-installed.
        </p>
      </article>
    </div>
  </div>
</div>
